<header>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="images/logo.png" alt="Logo" width="80" height="80"
            class="d-inline-block align-text-middle rotacion">
          PetAssist
        </a>
        <ul class="nav-links">
          <li><a routerLinkActive="active" routerLink>Inicio</a></li>
          <li><a routerLinkActive="active" routerLink="about">Nosotros</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Acceder
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLinkActive="active"
                  routerLink="login">Iniciar sesión</a></li>
              <li><a class="dropdown-item" routerLinkActive="active"
                  routerLink="registro">Registrarse</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>