<div class="contenedor">
    <div class="about">
        <p>Proyecto realizado por alumnos de la carrera de Ingeniería en
            Sistemas Computacionales del semestre 7° para la materia Desarrollo
            de Aplicaciones Web.
        </p>

        <p>
            Este proyecto busca ser un intermediario para que los dueños de
            mascotas tengan acceso a un autodiagnostico sobre los padecimientos
            de sus mascotas. Y, en dado caso o si así lo requieran, agendar una
            cita con el especialista, al igual que tener un contacto directo
            también con ellos.
        </p>

        <p>
            Por otro lado, para los veterinarios una forma más rápida y fácil de
            brindar sus servicios.
        </p>
        <br>
        <img src="/gifs/perro.gif" width="150px" height="150px">
    </div>
</div>