<div class="container-form login">
    <div class="information">
        <div class="info-childs">
            <h2>¡¡Bienvenido!!</h2>
            <img src="images/saludo.png">
            <p>Ingresa tu usuario y contraseña para acceder</p>
        </div>
    </div>

    <div class="form-information">
        <div class="form-information-childs">
            <h2>Iniciar sesión</h2>
            <div class="form">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <br>
                    <div>
                        <label>
                            <img src="images/usuario.png" alt="Usuario" class="input-icon">
                            <input type="text" placeholder="Usuario" formControlName="usuario" required>
                        </label>
                    </div>
                    <div>
                        <label class="password-container">
                            <img src="images/contraseña.png" alt="Contraseña" class="input-icon">
                            <input class="input" type="password" placeholder="Contraseña" formControlName="contraseña" required>
                            <i class="bx bx-show toggle-password" id="togglePassword"></i>
                        </label>
                    </div>

                    <div id="botonesLog">
                        <input type="submit" value="Iniciar Sesión">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>